parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        -
            message: '#Property App\\Infrastructure\\Persistence\\Doctrine\\EventStore\\StoredEvent::\$id is never written, only read#'